.forget-error{
    text-align: center;
    width:350px;
    padding:10px;
  }
  .otp-input-form{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-bottom: 20px;
    margin-top: -20px;
  }
  .otp-input-form input{
    width:50px;
    padding: 10px;
    text-align: center;
  }

  .maincontainer{
    width:100vw;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    
   
}
.maincontainer>div{
   width: 50%;
}
.maincontainer>div:nth-child(1)>div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}
.maincontainer>div:nth-child(2){
    overflow: hidden;
    padding: 10px;
    
}
.image{
   width: 100%;
   height: 100%;
   border-radius: 7px;
   text-align: center;
}
@media screen and (max-width:750px) {

    .maincontainer>div:nth-child(2){
        display: none;
    }
    .maincontainer{
       width: 100vw;
       overflow-x: hidden;
       flex-direction: column;
       justify-content: center; 
    }

}

  @media screen and (max-width:450px) {
    .forget-error{
      text-align: none;
      width: 200px;
      padding: none;
    }
  }