.navbar-vertical.navbar-expand-xs {
    background-color: var(--white) !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: calc(100vh - 175px);
}

.menu_title {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    color: #5062CE;
    letter-spacing: 0px;
    margin: 25px 0;
    margin-bottom: 5px;
    padding: 0px 15px;
}

.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 75px;
    background-color: #F1F1F1;
}

.sidenav .navbar-brand {
    width: 100px;
    height: 45px;
    padding: 0;
    margin: 0;
}

.navbar-vertical .navbar-brand>img,
.navbar-vertical .navbar-brand-img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.sidenav .nav_admin {
    display: block;
    background-color: #5062CE;
    color: var(--white);
    padding: 5px 12px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}

.sidenav.navbar .navbar-nav {
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
}

.sidenav.navbar .navbar-nav:last-child {
    border: none;
    padding: 0;
}

hr.horizontal.dark {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
}

.navbar .nav-link {
    font-family: 'Inter', sans-serif;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    margin: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    margin: 0 !important;
    display: block !important;
    color: #5F6589 !important;
    padding: 10px 15px !important;
    position: relative;
    border-radius: 0;
    transition: all 250ms ease-in-out;
    font-size: 15px;
    font-weight: 500 !important;
    margin: 1px 0 !important;
    position: relative;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 100%;
    background-color: #5062CE;
    border-radius: 0 100px 100px 0;
    transition: all 250ms ease-in-out;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
    font-size: 20px;
    font-weight: normal;
    vertical-align: bottom;
    margin-right: 15px;
}

.router-link-exact-active {
    color: inherit !important;
    font-weight: normal !important;
}

.navbar-vertical.bg-white .navbar-nav>.nav-item .nav-link:hover,
.navbar-vertical.bg-white .navbar-nav>.nav-item .nav-link.active,
.navbar-vertical.bg-white .navbar-nav>.nav-item .nav-link.router-link-active {
    display: block !important;
    color: #5062CE !important;
    padding-left: 17px !important;
}

.navbar-vertical.bg-white .navbar-nav>.nav-item .nav-link:hover::before,
.navbar-vertical.bg-white .navbar-nav>.nav-item .nav-link.active::before,
.navbar-vertical.bg-white .navbar-nav>.nav-item .nav-link.router-link-active::before {
    width: 4px;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse]:after {
    position: absolute;
    top: 12px;
    right: 15px;
    color: inherit;
}

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle=collapse][aria-expanded=true]:after {
    color: inherit;
}

.bootom_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bn_left {
        display: inline-block;
        vertical-align: middle;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            overflow: hidden;
        }

        .bn_left_con {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 50px);
            padding: 0 8px;

            h5 {
                color: #000;
                font-family: Inter;
                font-size: 15px;
                line-height: 20px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 2px;
            }

            p {
                color: #5F6589;
                font-family: Inter;
                font-size: 13px;
                line-height: 18px;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .setting_btn {
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        font-size: 20px;
        color: #5F6589;
        cursor: pointer;
        transition: all 250ms ease-in-out;

        &:hover {
            color: #5062CE;
        }
    }
}
.navbar-vertical.navbar-expand-xs{
    max-width: 260px !important;
}
@media (min-width: 1200px){
    .g-sidenav-hidden .navbar-vertical{
        max-width: 75px !important;
    }
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item .sub_menu {
    padding-inline-start: 15px;
    margin: 0;
}