@import "argon-dashboard";

@import "table/table";

@import "login/login.scss";

@import "forgot-password/forgot-password.scss";

@import "button/button.scss";

@import "form/form.scss";

@import "header/header.scss";

@import "blank-page.scss";

@import "user/user.scss";

@import "onboarding/onboarding.scss";

@import "all-notification/all-notification.scss";

@import "sidenav/sidenav.scss";

@import "products/products.scss";

@import "distributors/distributors.scss";

@import "customer/customer.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

strong {
    color: blue;
}

:root {
    --grey-bg: #f5f7f8;
    --white: #fff;
    --black: #000;
    --grey: #8392ab;
    --violet: #5e72e4;
    --sidemenu-bg: linear-gradient(180deg, #1c2437 0%, #1b3b4e 100%);
    --menu-grey: #b8b8b8;
    --primary-font: "Montserrat", sans-serif;
    --hover-bg: #384552;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.el-tabs__item.is-active,
.el-tabs__item:hover {
    color: var(--violet) !important;
}

.el-tabs__active-bar {
    background-color: var(--violet) !important;
}

.btn-default {
    border: 1px solid #5e72e4 !important;
    color: var(--violet) !important;
}

.el-overlay-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.el-dialog {
    margin: auto !important;
}

.theme_modal {
    .el-overlay-dialog {
        background-color: rgb(33 37 41 / 35%);
    }
    .el-dialog--center {
        padding: 50px 45px;
        background-color: var(--white);
        border-radius: 15px;
        width: 100%;
        max-width: 415px;
    }
    .el-dialog__header {
        padding: 0;
        padding-bottom: 30px;
        margin: 0;

        .el-dialog__title {
            color: #172b4d;
            font-size: 24px;
            font-weight: 800;
            line-height: 32px;
            letter-spacing: -0.8px;
        }

        .el-dialog__headerbtn{
            width: 30px;
            height: 30px;
            line-height: 30px;
            top: 15px;
            right: 15px;
            color: var(--hover-bg);
            
            .el-dialog__close{
                font-size: 24px;
                color: inherit;
            }

            &:hover{
                color: var(--violet);
            }
        }
    }

    .el-dialog--center .el-dialog__body {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 250px;
            object-fit: contain;
            object-position: center;
        }

        p {
            color: var(--grey);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin: 0;
        }
    }

    .el-dialog--center .el-dialog__footer {
        padding: 0;
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
            margin: 0;
            padding: 6px 32px;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0px;
            border: solid 1px;
            height: 40px;
        }
    }
}
