@import "argon-dashboard";

@import "table/table";

@import "login/login.scss";

@import "forgot-password/forgot-password.scss";

@import "button/button.scss";

@import "form/form.scss";

@import "header/header.scss";
@import "blank-page.scss";

strong {
    color:blue
}

:root{
    --grey-bg: #F5F7F8;
    --white: #FFF;
    --black: #000;
    --grey: #8392AB;
    --violet: #5E72E4;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}