.container-area {
  text-align: left;
  padding: 10px;
  margin-top: 30px;

  .table-top {
    background-color: #f8f9fe;
    border-radius: 5px;
    margin-bottom: 4px;

    span {
      color: #000;

    }

    .heading {}

    .search-wrapper {}

    .btn-wrapper {
      display: block;
      text-align: right;
      margin: 8px 15px 8px 8px;
    }
  }



  .table-area {
    text-align: left;

    .btn-wrapper {
      display: block;
      text-align: right;
      margin: 8px 15px 8px 8px;
    }
  }

}

.heading-table-top {
  display: block;
  text-align: right;

}



.table-component {
  padding: 12px;
}

.el-pagination {
  display: block;
  text-align: right;
  padding: 15px 25px;
  float: right;
}

.el-pagination button {
  padding: 0px;
  border-radius: 50% !important;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #F3F2F7;
}

.el-pagination .el-pager li {
  background: #5e72e4;
  color: #fff;
}

.el-pagination .el-pager li.number.active {
  background: #5e72e4;
  color: #fff;
  width: 32px;
  height: 32px;
  min-width: unset;
  line-height: 32px;
  border-radius: 50%;

}

.el-pagination .el-pager {
  margin: 0 6px;
  //   background: #f3f2f7;
  border-radius: 21px;
}

.el-pagination .el-pager li.number {
  color: #7e7b7b;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  background: #F3F2F7;
}

.table-top {
  margin-left: 0px;
  margin-right: 0px;
  background: #fff;

  .heading {
    color: #5e5873;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 16px 15px;


  }

  .search-wrapper {
    margin: 10px 15px;
  }
}



.table {
  .header {
    font-weight: bold;
    background-color: #f0f0f0;
  }

  .table-menus-options-tbody tr:last-child {
    border-bottom: 10px solid white;
  }
}

.priority-row,
.priority-row td {
  background-color: #fef0f0 !important;
  background: linear-gradient(0deg, #ffe7e7 0%, rgba(255, 255, 255, 1) 100%) !important;
}


// for dropdown styling
.table-actions-dropdown .el-dropdown-menu__item {
  padding: 0;
}

.table-actions-dropdown .el-button {
  display: block;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
}

.el-tabs__header {
  margin-bottom: 5px;
}

.el-tabs__nav-wrap {
  width: auto;
  min-width: 400px;
  display: inline-block;
}
.el-tabs--top .el-tabs__item.is-top:last-child{
  padding-right: 20px !important;
}

.table_header {
  position: relative;

  .btn_add {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 0;
    background-color: #5e72e4;
    color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509);
    cursor: pointer;
    font-size: 13px;
    display: block;
    padding: 7px 24px;
    height: auto;
    border: none;
    border-radius: 10px;

    &:hover {
      background-color: #5e72e4;
      color: #fff;
    }

    i {
      font-size: 20px;
      font-style: normal;
      vertical-align: text-top;
      margin-right: 5px;
    }
  }
}

.el-avatar>img {
  display: block;
  height: 100%;
  width: 48px;
  height: 48px;
}

.el-table .el-table__cell {
  z-index: auto !important;

  .table-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #8392AB;
    transition: all 250ms ease-in-out;
    outline: none;

    &:hover {
      color: var(--violet);
    }

    &.delete_btn {
      &:hover {
        color: #FB1E1E;
      }
    }

    &.more_btn {
      line-height: 27px;
      font-size: 14px;

      &:hover {
        color: #333;
      }
    }
  }
}

.el-button--small {
  --el-button-size: auto !important;
  padding: 7px !important;
}

@media (max-width: 768px) {
  .el-tabs__nav-wrap {
    min-width: 225px;
  }
}