.header_wrap {
    height: 76px;
    border-bottom: 1.5px solid #E9ECEF;
    position: absolute;
    width: 100%;
}

nav {
    h6 {
        font-size: 16px;
        font-weight: 700 !important;
        margin: 0;
    }
}