.header_wrap {
    height: 76px;
    border-bottom: 1.5px solid #E9ECEF;
    position: absolute;
    width: 100%;
}

nav {
    h6 {
        font-size: 16px;
        font-weight: 700 !important;
        margin: 0;
    }
}

.page_heading{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 0;
    margin-bottom: 5px;
}