.onboarding_wrap .ob_box {
    &.approval_distributor {
        .prof_info {
            padding: 45px;
            padding-bottom: 0;
            border: none;

            p {
                font-size: 16px;
                font-weight: normal;
                color: var(--black);
            }
        }

        .prof_footer {
            padding: 45px;
        }
    }
}

.phase_det {
    display: flex;
    gap: 30px;
    margin-top: 30px;

    .phase_det_item {
        position: relative;
        display: block;
        text-align: center;
        padding: 15px;
        padding-top: 20px;
        font-size: 15px;
        font-weight: 600;
        color: #172B4D;
        border-radius: 5px;
        border: solid 1px #efefef;
        cursor: pointer;
        width: 100%;
        max-width: 165px;
        box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);
        transition: all 250ms ease-in-out;

        .ph_status {
            background-color: #ddd;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 50%;

            i {
                display: none;
                color: var(--white);
                font-weight: normal;
                line-height: 21px;
            }

            &.active {
                background-color: green;

                i {
                    display: block;
                }
            }
        }

        figure {
            display: block;
            background-color: #172B4D;
            color: var(--white);
            font-weight: normal;
            font-size: 22px;
            width: 50px;
            height: 50px;
            line-height: 48px;
            border-radius: 12px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        &:hover {
            border-color: var(--violet);
            color: var(--violet);
            transform: translateY(-1px);
        }
    }
}

.ver_outlet {
    width: 100%;
    max-width: 1100px;
    padding-top: 50px;

    h3 {
        color: var(--black);
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        margin: 0;
        padding: 15px 25px;
        background-color: rgba(131, 146, 171, 0.20);
        ;
    }

    .prof_info {
        span {
            display: block;
            color: var(--black);
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px !important;
            line-height: 26px !important;
            font-weight: normal !important;
            margin-bottom: 25px !important;
        }
    }
}

@media (max-width: 992px) {
    .onboarding_wrap .ob_box {
        &.approval_distributor {
            .prof_info {
                padding: 30px;
                padding-bottom: 0;

                p {
                    font-size: 15px;
                }
            }

            .prof_footer {
                padding: 30px;
            }
        }
    }

    .phase_det {
        display: flex;
        gap: 20px;
    }
    .ver_outlet {    
        h3 {
            font-size: 18px;
            line-height: 26px;
            ;
        }
    
        .prof_info {
            span {
                margin-bottom: 20px;
            }
    
            p {
                font-size: 15px !important;
                line-height: 25px !important;
                margin-bottom: 20px !important;
            }
        }
    }
}

.form_inner_half {
    background-color: var(--white);
    border-radius: 15px;
    padding: 35px;
    padding-top: 30px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .half_subtitle {
        font-size: 16px;
        font-weight: 600;
        color: var(--black);
        display: block;
        margin: 0;
    }

    .comp_form_box {
        .fieldrow {
            .frm_label {
                font-weight: 600;
                color: var(--black);
                margin-bottom: 10px;
            }
        }
    }
}

/**** Style for Approval Phase Details *****/
.dd_modal {
    &.el-dialog {
        border-radius: 12px;
        width: 100%;
        max-width: 900px;
    }

    .el-dialog__header {
        padding-bottom: 20px;
    }

    .el-dialog__title {
        color: var(--black);
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        margin: 0;
    }

    .el-dialog__headerbtn {
        width: 30px;
        height: 30px;
        line-height: 36px;
        font-size: 25px;
        right: 15px;
        top: 15px;
    }

    .dd_body {
        .dd_title {
            color: #172B4D;
            font-size: 17px;
            font-weight: 600;
            line-height: 24px;
            margin: 0;
            margin-bottom: 15px;
        }

        .el-row {
            margin: -15px;

            .el-col {
                padding: 15px;
            }
        }

        .dd_det {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .dd_item {
                span {
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 600;
                    color: var(--black);
                    display: block;
                    margin-bottom: 2px;
                }

                p {
                    display: block;
                    color: #495057;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 24px;
                    margin: 0;
                }

                img {
                    width: 100%;
                    max-width: 150px;
                    height: 120px;
                    object-fit: contain;
                    object-position: center;
                    border-radius: 10px;
                    border: 1px solid #8392AB;
                }
            }
        }

        .dd_img {
            display: flex;
            gap: 15px 25px;
            flex-wrap: wrap;

            .dd_item {
                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: normal;
                    color: var(--black);
                    display: block;
                    margin: 0;
                    margin-top: 5px;

                    span {
                        display: block;
                    }
                }

                img {
                    width: 100%;
                    max-width: 180px;
                    height: 120px;
                    object-fit: contain;
                    object-position: center;
                    border-radius: 10px;
                    border: 1px solid #8392AB;
                }
            }
        }

        .dd_footer {
            padding-top: 30px;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            button {
                margin: 0;
                width: 100%;
                max-width: 210px;
                padding: 9px 15px;
            }
        }
    }

    .el-dialog__body {
        padding-top: 0;
    }
}

@media (max-width: 992px) {
    .dd_modal {
        &.el-dialog {
            border-radius: 0;
            width: 100%;
            max-width: 900px;
            height: 100%;
            overflow: auto;
            overflow-x: hidden;
        }

        .dd_body {
            .dd_det {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}


/**** Design for Blank Distributor ****/
.blank_dist {
    padding: 50px 25px;
    padding-bottom: 30px;

    .blank_inner {
        background-color: var(--white);
        border-radius: 0;
        overflow: hidden;
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
        padding: 25px;
        min-height: calc(100vh - 145px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .blank_box {
            text-align: center;
            width: 100%;
            max-width: 345px;
            padding: 15px;

            img {
                width: 100%;
                max-width: 175px;
                object-fit: contain;
                object-position: center;
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            h4 {
                color: var(--black);
                font-size: 26px;
                font-weight: 700;
                line-height: 36px;
                margin: 0;
                margin-bottom: 10px;
            }

            p {
                color: #7B809A;
                font-size: 16px;
                font-weight: normal;
                line-height: 26px;
                margin: 0;
                margin-bottom: 35px;
            }

            button {
                width: 231px;
                padding: 10px 16px;
                border-radius: 8px;
                box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                margin: 0;
            }
        }

    }
}